<form [formGroup]="majorForm" (ngSubmit)="saveMajor()" >

  <div class="spaced">
    <ol-input placeholder="Name">
      <input
          type="text"
          id="name"
          class="w100"
          olinput
          formControlName="name"
          [required]="true"
      />
      <ng-container helptext>help text</ng-container>
    </ol-input>
  </div>

  <div class="spaced">
    <ol-input placeholder="Currency">
      <select
        formControlName="currency"
        olinput
        class="w100"
        [required]="true"
        [compareWith]="compareFn"
      >
       @for (currency of ['USD', 'EUR', 'GBP']; track $index) {
        <option [value]="currency">{{ currency }}</option>
        }
      </select>
    </ol-input>
  </div>

  <div class="spaced">

    <ol-input placeholder="Notes">
      <textarea
          type="text"
          id="notes"
          class="w100 h2"
          olinput
          formControlName="notes"
      ></textarea>
    </ol-input>	
  </div>

  <button class="btn-rev" type="submit" >Save</button>

</form>
