/* CRITICAL BEGIN */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
fieldset,
form,
iframe {
  border: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
img {
  border: 0 none;
  -webkit-user-select: none;
          user-select: none;
}
form {
  display: inline;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
input,
button,
select,
optgroup,
textarea {
  font-family: var(--sh-fontface);
  font-size: inherit;
  line-height: inherit;
}
[tabindex='-1']:focus {
  outline: 0 !important;
}
/* CRITICAL END */
/* CRITICAL BEGIN */
.rel {
  position: relative;
}
.l {
  float: left;
}
.r {
  float: right;
}
/* CRITICAL END */
/* CRITICAL BEGIN */
.page,
.singlepage {
  margin: 0 auto;
  width: 100%;
}
.container {
  padding: 2.4rem;
}
@media only screen and (min-width: 720px) {
  .page {
    max-width: 720px;
  }
  .singlepage {
    max-width: 600px;
  }
}
@media only screen and (min-width: 960px) {
  .page {
    max-width: 960px;
  }
  .singlepage {
    max-width: 720px;
  }
}
@media only screen and (min-width: 1280px) {
  .page {
    max-width: 1280px;
  }
  .singlepage {
    max-width: 720px;
  }
}
/* CRITICAL END */
/* CRITICAL BEGIN */
/* affects wrapper and site width */
.w100 {
  width: 100%!important;
}
.h100 {
  height: 100%;
}
.h-1,
.uh-1 > li {
  min-height: 60px;
}
.h-2,
.uh-2 > li {
  min-height: 120px;
}
.h-3,
.uh-3 > li {
  min-height: 180px;
}
.h-4,
.uh-4 > li {
  min-height: 240px;
}
.h-5,
.uh-5 > li {
  min-height: 300px;
}
.h-6,
.uh-6 > li {
  min-height: 360px;
}
.hm-1,
.uhm-1 > li {
  max-height: 60px;
}
.hm-2,
.uhm-2 > li {
  max-height: 120px;
}
.hm-3,
.uhm-3 > li {
  max-height: 180px;
}
.hm-4,
.uhm-4 > li {
  max-height: 240px;
}
.hm-5,
.uhm-5 > li {
  max-height: 300px;
}
.hm-6,
.uhm-6 > li {
  max-height: 360px;
}
.row,
.row-spaced {
  --sh-only-display: flex;
  display: flex;
  flex-wrap: wrap;
}
.row-spaced {
  justify-content: space-between;
}
.row-gap {
  gap: 2.4rem;
}
.col,
.ucol > li {
  width: 100%;
}
.offset-c-1 {
  margin-inline-start: 8.33333333%;
}
.offset-c-2 {
  margin-inline-start: 16.66666667%;
}
.offset-c-3 {
  margin-inline-start: 25%;
}
.offset-c-4 {
  margin-inline-start: 33.33333333%;
}
.offset-c-5 {
  margin-inline-start: 41.66666667%;
}
.offset-c-6 {
  margin-inline-start: 50%;
}
.offset-c-7 {
  margin-inline-start: 58.33333333%;
}
.offset-c-8 {
  margin-inline-start: 66.66666667%;
}
.offset-c-9 {
  margin-inline-start: 75%;
}
.offset-c-10 {
  margin-inline-start: 83.33333333%;
}
.offset-c-11 {
  margin-inline-start: 91.66666667%;
}
.c-1,
.uc-1 > li {
  width: 8.33333333%;
}
.c-2,
.uc-2 > li {
  width: 16.66666667%;
}
.c-3,
.uc-3 > li {
  width: 25%;
}
.c-4,
.uc-4 > li {
  width: 33.33333333%;
}
.c-5,
.uc-5 > li {
  width: 41.66666667%;
}
.c-6,
.uc-6 > li {
  width: 50%;
}
.c-7,
.uc-7 > li {
  width: 58.33333333%;
}
.c-8,
.uc-8 > li {
  width: 66.66666667%;
}
.c-9,
.uc-9 > li {
  width: 75%;
}
.c-10,
.uc-10 > li {
  width: 83.33333333%;
}
.c-11,
.uc-11 > li {
  width: 91.66666667%;
}
.c-12,
.uc-12 > li {
  width: 100%;
}
.row-spaced > .c-1,
.row-spaced.uc-1 > li {
  width: calc(8.33333333% - 2.4rem/2);
}
.row-spaced > .c-2,
.row-spaced.uc-2 > li {
  width: calc(16.66666667% - 2.4rem/2);
}
.row-spaced > .c-3,
.row-spaced.uc-3 > li {
  width: calc(25% - 2.4rem/2);
}
.row-spaced > .c-4,
.row-spaced.uc-4 > li {
  width: calc(33.33333333% - 2.4rem/2);
}
.row-spaced > .c-5,
.row-spaced.uc-5 > li {
  width: calc(41.66666667% - 2.4rem/2);
}
.row-spaced > .c-6,
.row-spaced.uc-6 > li {
  width: calc(50% - 2.4rem/2);
}
.row-spaced > .c-7,
.row-spaced.uc-7 > li {
  width: calc(58.33333333% - 2.4rem/2);
}
.row-spaced > .c-8,
.row-spaced.uc-8 > li {
  width: calc(66.66666667% - 2.4rem/2);
}
.row-spaced > .c-9,
.row-spaced.uc-9 > li {
  width: calc(75% - 2.4rem/2);
}
.row-spaced > .c-10,
.row-spaced.uc-10 > li {
  width: calc(83.33333333% - 2.4rem/2);
}
.row-spaced > .c-11,
.row-spaced.uc-11 > li {
  width: calc(91.66666667% - 2.4rem/2);
}
.row-spaced > .c-12,
.row-spaced.uc-12 > li {
  width: calc(100% - 2.4rem/2);
}
.grid {
  --sh-only-display: grid;
  display: grid;
}
.grid.spacedout {
  grid-gap: 2.4rem;
}
.g-1 {
  grid-template-columns: 8.33333333% auto;
}
.g-2 {
  grid-template-columns: 16.66666667% auto;
}
.g-3 {
  grid-template-columns: 25% auto;
}
.g-4 {
  grid-template-columns: 33.33333333% auto;
}
.g-5 {
  grid-template-columns: 41.66666667% auto;
}
.g-6 {
  grid-template-columns: 50% auto;
}
.g-7 {
  grid-template-columns: 58.33333333% auto;
}
.g-8 {
  grid-template-columns: 66.66666667% auto;
}
.g-9 {
  grid-template-columns: 75% auto;
}
.g-10 {
  grid-template-columns: 83.33333333% auto;
}
.g-11 {
  grid-template-columns: 91.66666667% auto;
}
@media only screen and (min-width: 720px) {
  .offset-md-1 {
    margin-inline-start: 8.33333333%;
  }
  .offset-md-2 {
    margin-inline-start: 16.66666667%;
  }
  .offset-md-3 {
    margin-inline-start: 25%;
  }
  .offset-md-4 {
    margin-inline-start: 33.33333333%;
  }
  .offset-md-5 {
    margin-inline-start: 41.66666667%;
  }
  .offset-md-6 {
    margin-inline-start: 50%;
  }
  .offset-md-7 {
    margin-inline-start: 58.33333333%;
  }
  .offset-md-8 {
    margin-inline-start: 66.66666667%;
  }
  .offset-md-9 {
    margin-inline-start: 75%;
  }
  .offset-md-10 {
    margin-inline-start: 83.33333333%;
  }
  .offset-md-11 {
    margin-inline-start: 91.66666667%;
  }
  .gmd-1 {
    grid-template-columns: 8.33333333% auto;
  }
  .gmd-2 {
    grid-template-columns: 16.66666667% auto;
  }
  .gmd-3 {
    grid-template-columns: 25% auto;
  }
  .gmd-4 {
    grid-template-columns: 33.33333333% auto;
  }
  .gmd-5 {
    grid-template-columns: 41.66666667% auto;
  }
  .gmd-6 {
    grid-template-columns: 50% auto;
  }
  .gmd-7 {
    grid-template-columns: 58.33333333% auto;
  }
  .gmd-8 {
    grid-template-columns: 66.66666667% auto;
  }
  .gmd-9 {
    grid-template-columns: 75% auto;
  }
  .gmd-10 {
    grid-template-columns: 83.33333333% auto;
  }
  .gmd-11 {
    grid-template-columns: 91.66666667% auto;
  }
  .md-1,
  .umd-1 > li {
    width: 8.33333333%;
  }
  .md-2,
  .umd-2 > li {
    width: 16.66666667%;
  }
  .md-3,
  .umd-3 > li {
    width: 25%;
  }
  .md-4,
  .umd-4 > li {
    width: 33.33333333%;
  }
  .md-5,
  .umd-5 > li {
    width: 41.66666667%;
  }
  .md-6,
  .umd-6 > li {
    width: 50%;
  }
  .md-7,
  .umd-7 > li {
    width: 58.33333333%;
  }
  .md-8,
  .umd-8 > li {
    width: 66.66666667%;
  }
  .md-9,
  .umd-9 > li {
    width: 75%;
  }
  .md-10,
  .umd-10 > li {
    width: 83.33333333%;
  }
  .md-11,
  .umd-11 > li {
    width: 91.66666667%;
  }
  .md-12,
  .umd-12 > li {
    width: 100%;
  }
  .row-spaced > .md-1,
  .row-spaced.umd-1 > li {
    width: calc(8.33333333% - 2.4rem/2);
  }
  .row-spaced > .md-2,
  .row-spaced.umd-2 > li {
    width: calc(16.66666667% - 2.4rem/2);
  }
  .row-spaced > .md-3,
  .row-spaced.umd-3 > li {
    width: calc(25% - 2.4rem/2);
  }
  .row-spaced > .md-4,
  .row-spaced.umd-4 > li {
    width: calc(33.33333333% - 2.4rem/2);
  }
  .row-spaced > .md-5,
  .row-spaced.umd-5 > li {
    width: calc(41.66666667% - 2.4rem/2);
  }
  .row-spaced > .md-6,
  .row-spaced.umd-6 > li {
    width: calc(50% - 2.4rem/2);
  }
  .row-spaced > .md-7,
  .row-spaced.umd-7 > li {
    width: calc(58.33333333% - 2.4rem/2);
  }
  .row-spaced > .md-8,
  .row-spaced.umd-8 > li {
    width: calc(66.66666667% - 2.4rem/2);
  }
  .row-spaced > .md-9,
  .row-spaced.umd-9 > li {
    width: calc(75% - 2.4rem/2);
  }
  .row-spaced > .md-10,
  .row-spaced.umd-10 > li {
    width: calc(83.33333333% - 2.4rem/2);
  }
  .row-spaced > .md-11,
  .row-spaced.umd-11 > li {
    width: calc(91.66666667% - 2.4rem/2);
  }
  .row-spaced > .md-12,
  .row-spaced.umd-12 > li {
    width: calc(100% - 2.4rem/2);
  }
}
@media only screen and (min-width: 960px) {
  .offset-lg-1 {
    margin-inline-start: 8.33333333%;
  }
  .offset-lg-2 {
    margin-inline-start: 16.66666667%;
  }
  .offset-lg-3 {
    margin-inline-start: 25%;
  }
  .offset-lg-4 {
    margin-inline-start: 33.33333333%;
  }
  .offset-lg-5 {
    margin-inline-start: 41.66666667%;
  }
  .offset-lg-6 {
    margin-inline-start: 50%;
  }
  .offset-lg-7 {
    margin-inline-start: 58.33333333%;
  }
  .offset-lg-8 {
    margin-inline-start: 66.66666667%;
  }
  .offset-lg-9 {
    margin-inline-start: 75%;
  }
  .offset-lg-10 {
    margin-inline-start: 83.33333333%;
  }
  .offset-lg-11 {
    margin-inline-start: 91.66666667%;
  }
  .glg-1 {
    grid-template-columns: 8.33333333% auto;
  }
  .glg-2 {
    grid-template-columns: 16.66666667% auto;
  }
  .glg-3 {
    grid-template-columns: 25% auto;
  }
  .glg-4 {
    grid-template-columns: 33.33333333% auto;
  }
  .glg-5 {
    grid-template-columns: 41.66666667% auto;
  }
  .glg-6 {
    grid-template-columns: 50% auto;
  }
  .glg-7 {
    grid-template-columns: 58.33333333% auto;
  }
  .glg-8 {
    grid-template-columns: 66.66666667% auto;
  }
  .glg-9 {
    grid-template-columns: 75% auto;
  }
  .glg-10 {
    grid-template-columns: 83.33333333% auto;
  }
  .glg-11 {
    grid-template-columns: 91.66666667% auto;
  }
  .lg-1,
  .ulg-1 > li {
    width: 8.33333333%;
  }
  .lg-2,
  .ulg-2 > li {
    width: 16.66666667%;
  }
  .lg-3,
  .ulg-3 > li {
    width: 25%;
  }
  .lg-4,
  .ulg-4 > li {
    width: 33.33333333%;
  }
  .lg-5,
  .ulg-5 > li {
    width: 41.66666667%;
  }
  .lg-6,
  .ulg-6 > li {
    width: 50%;
  }
  .lg-7,
  .ulg-7 > li {
    width: 58.33333333%;
  }
  .lg-8,
  .ulg-8 > li {
    width: 66.66666667%;
  }
  .lg-9,
  .ulg-9 > li {
    width: 75%;
  }
  .lg-10,
  .ulg-10 > li {
    width: 83.33333333%;
  }
  .lg-11,
  .ulg-11 > li {
    width: 91.66666667%;
  }
  .lg-12,
  .ulg-12 > li {
    width: 100%;
  }
  .row-spaced > .lg-1,
  .row-spaced.ulg-1 > li {
    width: calc(8.33333333% - 2.4rem/2);
  }
  .row-spaced > .lg-2,
  .row-spaced.ulg-2 > li {
    width: calc(16.66666667% - 2.4rem/2);
  }
  .row-spaced > .lg-3,
  .row-spaced.ulg-3 > li {
    width: calc(25% - 2.4rem/2);
  }
  .row-spaced > .lg-4,
  .row-spaced.ulg-4 > li {
    width: calc(33.33333333% - 2.4rem/2);
  }
  .row-spaced > .lg-5,
  .row-spaced.ulg-5 > li {
    width: calc(41.66666667% - 2.4rem/2);
  }
  .row-spaced > .lg-6,
  .row-spaced.ulg-6 > li {
    width: calc(50% - 2.4rem/2);
  }
  .row-spaced > .lg-7,
  .row-spaced.ulg-7 > li {
    width: calc(58.33333333% - 2.4rem/2);
  }
  .row-spaced > .lg-8,
  .row-spaced.ulg-8 > li {
    width: calc(66.66666667% - 2.4rem/2);
  }
  .row-spaced > .lg-9,
  .row-spaced.ulg-9 > li {
    width: calc(75% - 2.4rem/2);
  }
  .row-spaced > .lg-10,
  .row-spaced.ulg-10 > li {
    width: calc(83.33333333% - 2.4rem/2);
  }
  .row-spaced > .lg-11,
  .row-spaced.ulg-11 > li {
    width: calc(91.66666667% - 2.4rem/2);
  }
  .row-spaced > .lg-12,
  .row-spaced.ulg-12 > li {
    width: calc(100% - 2.4rem/2);
  }
}
/* CRITICAL END */
/* CRITICAL BEGIN */
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
}
/* CRITICAL END */
/* CRITICAL BEGIN */
html {
  font-size: 62.5%;
}
body,
textarea,
select,
option,
input {
  font-family: var(--sh-fontface);
  font-size: 1.4rem;
  color: var(--sh-text-color);
}
button {
  font-family: var(--sh-fontface);
}
/* CRITICAL END */
/* CRITICAL BEGIN */
.ltr {
  font-family: var(--sh-fontface);
  direction: ltr;
}
.rtl {
  font-family: var(--sh-fontface-ar);
  direction: rtl;
}
/* CRITICAL END */
/* CRITICAL BEGIN */
@media only screen and (min-width: 720px) {
  html {
    font-size: 75%;
  }
}
/* CRITICAL END */
