/*******************/
/* site defined vars */
/* spacing and layout */
:root {
  --sh-fontface: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
  --sh-fontface-ar: "Traditional Arabic", tahoma, sans-serif;
  --sh-font-size: 1.4;
  --sh-font-weight-light: 300;
  --sh-font-weight: 400;
  --sh-font-weight-bold: 700;
  --sh-font-weight-medium: 500;
  --sh-text-color: #202020;
  --sh-text-light: #959595;
  --sh-text-lighter: #cccccc;
  --sh-text-dark: #202020;
  --sh-white: #fff;
  --sh-grey-light: #f3f3f3;
  --sh-grey: #999999;
  --sh-grey-dark: #263238;
  --sh-black: #000;
  --sh-linkcolor: #0c00b4;
  --sh-visitedcolor: #800080;
  --sh-altcolor: #048bca;
  --sh-red: #f31109;
  --sh-yellow: #ffc400;
  --sh-green: #57b347;
  --sh-blue: #0097a7;
  --sh-red-light: #f96e69;
  --sh-yellow-light: #ffdc66;
  --sh-green-light: #98d28e;
  --sh-blue-light: #0ee8ff;
  --sh-space: 2.4rem;
  --sh-rowlist-border: #f3f3f3;
  --sh-b-color: #999999;
  --sh-b-dark-color: #263238;
  --sh-btn-hover: rgba(243, 243, 243, 0.5);
  --sh-btn-rev-hover: #0f00e7;
  --sh-only-display: block;
}
/* resetting */

/* Border Radius*/
/* coloring forground */
/* rem */
/* icons*/
@font-face {
  font-family: "cricket";
  font-display: block;
  src: local('cricket'), url("../fonts/cricket.ttf") format("truetype"), url("../fonts/cricket.woff") format("woff"), url("../fonts/cricket.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "cricket";
    src: url("../fonts/cricket.svg#icons") format("svg");
  }
}
.liga,
.symbol:before,
.symbolAfter:after {
  --sh-only-display: inline-block;
  font-family: 'cricket';
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-smooth: always;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
  /* ligatures? */
  content: attr(data-icon);
}
.icon-inline:before {
  margin-inline-end: 2.4rem;
}

.clear {
  clear: both;
}
.txt-r {
  text-align: right;
}
.txt-c {
  text-align: center;
}
.txt-l {
  text-align: left;
}
.breath,
ul.breathout > li,
ol.breathout > li {
  padding-block-start: 1.2rem;
  padding-block-end: 1.2rem;
}
.spaced,
ul.spacedout > li,
ol.spacedout > li {
  margin-block-end: 2.4rem;
}
.doublespaced,
ul.doubledspacedout > li,
ol.doublespacedout > li {
  margin-block-end: 4.8rem;
}
.rbreath {
  padding-inline-end: 1.2rem;
}
.lbreath {
  padding-inline-start: 1.2rem;
}
.hbreath {
  padding-inline-end: 1.2rem;
  padding-inline-start: 1.2rem;
}
.rpad {
  padding-inline-end: 2.4rem;
}
.lpad {
  padding-inline-start: 2.4rem;
}
.hpad {
  padding-inline-end: 2.4rem;
  padding-inline-start: 2.4rem;
}
.lspace {
  margin-inline-start: 2.4rem;
}
.rspace {
  margin-inline-end: 2.4rem;
}
.hspace {
  margin-inline-start: 2.4rem;
  margin-inline-end: 2.4rem;
}
.padtop {
  padding-block-start: 2.4rem;
  /* to be used only in extreme cases */
}
.spacetop {
  margin-block-start: 2.4rem;
  /* to be used only in extreme cases */
}
.center {
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.lauto {
  margin-inline-start: auto;
}
.rauto {
  margin-inline-end: auto;
}
.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap-break {
  word-wrap: break-word;
}
.wrap-none {
  white-space: nowrap;
}
.center-content {
  --sh-only-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.dscroll {
  overflow-x: hidden;
  overflow-y: auto;
}
/*** border bottom, thin and thick ***/
.bthin {
  border-block-end: 1px solid var(--sh-b-color);
  padding-block-end: 2.4rem;
}
.bthin-dark {
  border-block-end: 1px solid var(--sh-b-dark-color);
  padding-block-end: 2.4rem;
}
.bthick {
  border-block-end: 3px solid var(--sh-b-color);
  padding-block-end: 2.4rem;
}
.bthick-dark {
  border-block-end: 3px solid var(--sh-b-dark-color);
  padding-block-end: 2.4rem;
}
.g-bthin > * {
  border-block-end: 1px solid var(--sh-b-color);
  padding-block-end: 2.4rem;
}
.g-bthin-dark > * {
  border-block-end: 1px solid var(--sh-b-dark-color);
  padding-block-end: 2.4rem;
}
.dev {
  display: inline-block !important;
  font-size: 11px !important;
  color: red !important;
  background-color: yellow !important;
}
/* layout */

/*Basic Card */
.card {
  --sh-only-display: flex;
  position: relative;
  display: flex;
}
.card .tail {
  margin-inline-start: auto;
  /* for all browsers, except chrome, inherit flex display */
}
.card .corner {
  position: absolute;
  top: 0;
  right: 0;
}
.card .corner-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-v {
  flex-direction: column;
}
.card-v .tail-v {
  margin-block-start: auto;
}
.card-btns button {
  margin-inline-end: 1.2rem;
}
.valign-center {
  align-items: center;
}
.valign-top {
  align-items: flex-start;
}
.overflow-hidden {
  overflow: hidden;
}
ul.normal > li,
.normal > ul > li {
  margin-inline-start: 3.6rem;
  list-style-type: disc;
}
ol.normal > li {
  list-style-position: inside;
  list-style-type: decimal;
}
/**** nested lists for multiple uls */
ul.nestedlist > li > ul,
div.nestedlist > ul,
ol.nestedlist > li > ol {
  padding-inline-start: 4.8rem;
}
/*Basic list*/
/* listings */
.alist > li {
  padding-block-end: 0.7rem;
  margin-block-end: 0.7rem;
}
.blist > li {
  border-block-end: 1px solid var(--sh-rowlist-border);
}
.rowlist > li {
  padding-block-end: 0.7rem;
  margin-block-end: 0.7rem;
}
.rowlist > li {
  border-block-end: 1px solid var(--sh-rowlist-border);
}
/**** comma seperated items */
ul.commalist {
  --sh-only-display: inline;
  display: inline;
}
ul.commalist li {
  --sh-only-display: inline-block;
  display: inline-block;
}
ul.commalist li:after {
  content: ", ";
  white-space: pre;
}
ul.commalist li:last-child:after {
  content: "";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th,
table td {
  vertical-align: top;
}
table th {
  text-align: left;
}
table.txt-r th,
table th.txt-r {
  text-align: right;
}
table caption {
  text-align: left;
}
table.tabulated th {
  padding-block-end: 2px;
  border-block-end: 1px solid #263238;
  font-weight: 700;
}
table.tabulated td {
  padding: 2px 0;
  border-block-end: 1px solid #f3f3f3;
}
table.tabulated tfoot td {
  border-block-start: 2px solid #263238;
}
table.spacedout td,
table.spacedout th {
  padding: 2.4rem;
}
table.bordered td,
table.bordered th {
  border: 1px solid #f3f3f3;
}
table.bordered tfoot td {
  border-block-start: 2px solid #263238;
}
table.striped tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}
table.rich th,
table.rich td {
  border: 1px solid #f3f3f3;
  padding: 1.2rem;
}
table.rich th {
  font-weight: 700;
  background-color: #f3f3f3;
  border: 1px solid #9fb4be;
  border-block-end: 2px solid #263238;
}
table.rich tfoot td {
  border-block-start: 2px solid #9fb4be;
  background-color: #f8f8f8;
}
.table-h {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
.table-h > table > tbody > tr > td {
  white-space: nowrap;
}


.btn,
.btn-rev,
.btn-fake,
.btn-diff {
  --sh-only-display: inline-block;
  padding: 1.2rem 1.6rem;
  display: inline-block;
  transition: background-color 0.518s;
  line-height: 1;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 90%;
  cursor: pointer;
  border: 0;
}
.btn[disabled],
.btn-rev[disabled],
.btn-fake[disabled],
.btn-diff[disabled] {
  opacity: 0.5;
  cursor: default;
}
.btn {
  color: var(--sh-linkcolor);
  background-color: var(--sh-grey-light);
}
.btn:hover {
  background-color: var(--sh-btn-hover);
  color: var(--sh-linkcolor);
}
.btn-rev {
  color: var(--sh-white);
  background-color: var(--sh-linkcolor);
}
.btn-rev:hover {
  background-color: var(--sh-btn-rev-hover);
  color: var(--sh-white);
}
.btn-fake {
  font-weight: var(--sh-font-weight-bold);
  padding-inline-start: 0.8rem;
  padding-inline-end: 0.8rem;
}
.btn-fake:hover {
  color: var(--sh-linkcolor);
}
.btn-diff {
  background-color: #f31109;
  color: #fff;
}
.btn-diff:hover {
  background-color: #910a05;
  color: #fff;
}
.btn-sm {
  padding: 0.8rem;
}
.btn-busy[disabled] {
  color: var(--sh-text-light);
  background-color: var(--sh-grey-light);
  background-position: center 82%;
}
.btn-chop {
  margin-inline-start: -0.8rem;
  margin-inline-end: -0.8rem;
}
.btn-chop-start {
  margin-inline-start: -0.8rem;
}
.btn-chop-end {
  margin-inline-end: -0.8rem;
}
.box {
  padding: 1rem;
  border-radius: 3px;
  position: relative;
}
ul.boxed > li {
  padding: 1rem;
  border-radius: 3px;
  position: relative;
}
.box-red {
  background-color: #f31109;
  color: #fff;
}
.box-yellow {
  background-color: #ffc400;
  color: #202020;
}
.box-green {
  background-color: #57b347;
  color: #fff;
}
.box-blue {
  background-color: #0097a7;
  color: #fff;
}
.box-red-light {
  background-color: #f96e69;
  color: #fff;
}
.box-yellow-light {
  background-color: #ffdc66;
  color: #202020;
}
.box-green-light {
  background-color: #98d28e;
  color: #202020;
}
.box-blue-light {
  background-color: #0ee8ff;
  color: #202020;
}
.box-light {
  background-color: #959595;
  color: #fff;
}
.box-lighter {
  background-color: #cccccc;
  color: #202020;
}
.box-grey {
  background-color: #999999;
  color: #fff;
}
.box-grey-light {
  background-color: #f3f3f3;
  color: #202020;
}
.box-grey-dark {
  background-color: #263238;
  color: #fff;
}
.box-white-dark {
  border: 1px solid #263238;
  background-color: #fff;
  color: #202020;
}
.box-white-normal {
  border: 1px solid #999999;
  background-color: #fff;
  color: #202020;
}
.box-white {
  border: 1px solid #f3f3f3;
}
.box-shadow-none {
  box-shadow: none;
}
.box-shadow-shallow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.box-shadow-normal {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.box-shadow-deep {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.box-shadow-deeper {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.red {
  color: #f31109;
}
.yellow {
  color: #ffc400;
}
.green {
  color: #57b347;
}
.blue {
  color: #0097a7;
}
.red-light {
  color: #f96e69;
}
.yellow-light {
  color: #ffdc66;
}
.green-light {
  color: #98d28e;
}
.blue-light {
  color: #0ee8ff;
}
.light {
  color: #959595;
}
.lighter {
  color: #cccccc;
}
.grey {
  color: #999999;
}
.grey-light {
  color: #f3f3f3;
}
.grey-dark {
  color: #263238;
}
.label {
  padding: 0.25rem 0.8rem;
  border-radius: 3px;
  --sh-only-display: inline-block;
  display: inline-block;
}
a.label {
  transition: background-color 0.15s, color 0.15s;
}
.label-red {
  background-color: #f31109;
  color: #fff;
}
a.label-red:hover {
  background-color: #f95650;
  color: #fff;
}
.label-yellow {
  background-color: #ffc400;
  color: #202020;
}
a.label-yellow:hover {
  background-color: #ffd64d;
  color: #202020;
}
.label-green {
  background-color: #57b347;
  color: #fff;
}
a.label-green:hover {
  background-color: #87cb7c;
  color: #202020;
}
.label-blue {
  background-color: #0097a7;
  color: #fff;
}
a.label-blue:hover {
  background-color: #00dcf3;
  color: #202020;
}
.label-red-light {
  background-color: #f96e69;
  color: #fff;
}
a.label-red-light:hover {
  background-color: #fcb5b2;
  color: #202020;
}
.label-yellow-light {
  background-color: #ffdc66;
  color: #202020;
}
a.label-yellow-light:hover {
  background-color: #ffedb3;
  color: #202020;
}
.label-green-light {
  background-color: #98d28e;
  color: #202020;
}
a.label-green-light:hover {
  background-color: #cae8c5;
  color: #202020;
}
.label-blue-light {
  background-color: #0ee8ff;
  color: #202020;
}
a.label-blue-light:hover {
  background-color: #5befff;
  color: #202020;
}
.label-light {
  background-color: #959595;
  color: #fff;
}
a.label-light:hover {
  background-color: #bbbbbb;
  color: #202020;
}
.label-lighter {
  background-color: #cccccc;
  color: #202020;
}
a.label-lighter:hover {
  background-color: #f2f2f2;
  color: #202020;
}
.label-grey {
  background-color: #999999;
  color: #fff;
}
a.label-grey:hover {
  background-color: #bfbfbf;
  color: #202020;
}
.label-grey-light {
  background-color: #f3f3f3;
  color: #202020;
}
a.label-grey-light:hover {
  background-color: #ffffff;
  color: #202020;
}
.label-grey-dark {
  background-color: #263238;
  color: #fff;
}
a.label-grey-dark:hover {
  background-color: #455b66;
  color: #fff;
}
.label-white {
  border: 1px solid #999999;
  padding: 0.25rem 0.8rem;
  border-radius: 3px;
  --sh-only-display: inline-block;
  display: inline-block;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 2.4rem;
  pointer-events: none;
  display: flex;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 2.4rem * 2);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.animate.fromleft .modal-content {
  transform: translateX(-100%);
  animation: fromleft 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.animate.fromright .modal-content {
  transform: translateX(100%);
  animation: fromright 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.animate.fromtop .modal-content {
  transform: translateY(-100%);
  animation: fromtop 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.animate.frombottom .modal-content {
  transform: translateY(100%);
  animation: frombottom 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}
.modal-close:before {
  content: "x";
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1.2rem;
  overflow: auto;
  scrollbar-width: thin;
}
.modal-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.modal-body::-webkit-scrollbar-button:start:decrement,
.modal-body::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  background-color: transparent;
}
.modal-body::-webkit-scrollbar-track-piece {
  background-color: #f3f3f3;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.modal-body::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #263238;
  border-radius: 8px;
}
.modal-body::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #263238;
  border-radius: 8px;
}
.modal-footer {
  padding: 1.2rem;
}
.modal-center .modal-dialog {
  align-items: center;
  height: calc(100vh - 2.4rem * 2);
}
.modal-bottom-sheet .modal-dialog {
  align-items: flex-end;
  height: 100vh;
}
.modal-full-height .modal-content {
  height: calc(100vh - 2.4rem * 2);
}
.modal-full-screen .modal-dialog {
  margin: 0;
  max-width: 100vw;
}
.modal-full-screen .modal-content {
  max-height: 100vh;
  min-height: 100vh;
}
.modal-half-screen .modal-dialog {
  margin: 0;
  max-width: 90vw;
}
.modal-half-screen .modal-content {
  max-height: 100vh;
  min-height: 100vh;
}
.reverse .modal-dialog {
  margin-inline-start: auto;
}
@media only screen and (min-width: 720px) {
  .modal-dialog {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 700px;
  }
  .modal-half-screen .modal-dialog {
    max-width: 50vw;
  }
}
/* RTL BEGIN */
@keyframes fromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fromright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* RTL END */
@keyframes frombottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fromtop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* font setting */

section {
  margin-block-end: 3.6rem;
}
p {
  margin-block-end: 2.4rem;
}
/* font size */
.larger {
  font-size: 4.9rem;
}
.large {
  font-size: 4.2rem;
}
.f1 {
  font-size: 3.5rem;
}
.f2 {
  font-size: 2.8rem;
}
.f3 {
  font-size: 2.45rem;
}
.f4 {
  font-size: 2.1rem;
}
.f5 {
  font-size: 1.75rem;
}
.f6 {
  font-size: 1.4rem;
}
.small {
  font-size: 1.26rem;
}
.smaller {
  font-size: 1.12rem;
}
.weight-light {
  font-weight: 300;
}
@supports (font-variation-settings: "wght"300) {
  .weight-light {
    font-weight: 300;
  }
}
.weight-normal {
  font-weight: 400;
}
@supports (font-variation-settings: "wght"400) {
  .weight-normal {
    font-weight: 400;
  }
}
.weight-medium {
  font-weight: 500;
}
@supports (font-variation-settings: "wght"500) {
  .weight-medium {
    font-weight: 500;
  }
}
.weight-bold {
  font-weight: 700;
}
@supports (font-variation-settings: "wght"700) {
  .weight-bold {
    font-weight: 700;
  }
}
.face-italic {
  font-style: italic;
}
/* mixed content*/

/* HTML tags redefined */
a,
.a {
  /* mimic a href */
  color: var(--sh-linkcolor);
  text-decoration: none;
  cursor: pointer;
}
/*camoflage a*/
a.cam,
.a.cam,
.cam {
  color: var(--sh-text-color);
  cursor: pointer;
}
a.cam:hover,
.a.cam:hover,
.cam:hover {
  color: var(--sh-linkcolor);
}
a[rel="track"]:visited {
  color: var(--sh-visitedcolor);
}
a:hover,
.a:hover,
a[rel="track"]:hover {
  color: var(--sh-altcolor);
}
.normalsize {
  font-size: 1.4rem !important;
  font-family: var(--sh-fontface);
}
.sup {
  font-size: 70%;
  vertical-align: 4px;
}
.del {
  color: var(--sh-text-light);
  text-decoration: line-through;
}

/* Print */
@media print {
  body,
  textarea,
  select,
  option,
  input {
    font-size: 80%;
    /* assuming default browser to medium 16px */
    color: #000;
  }
  .forprint {
    display: inline-block !important;
  }
  .forscreen {
    display: none !important;
  }
  @page {
    margin: 0.3cm;
  }
  .pagebreak {
    page-break-before: always;
  }
  header,
  footer {
    display: none !important;
  }
  div.container {
    padding-inline-start: 0 !important;
    width: auto;
  }
  a,
  .a {
    color: #333;
  }
}
.forprint {
  display: none;
}
.hidden {
  display: none;
}
.dflex {
  --sh-only-display: flex;
  display: flex;
}
.dinline {
  --sh-only-display: inline-block;
  display: inline-block;
}
.dblock {
  display: block;
}
.md-only {
  display: none;
}
.lg-only {
  display: none;
}
@media only screen and (min-width: 720px) {
  .md-only {
    display: var(--sh-only-display, block);
  }
  .md-hide {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  .lg-only {
    display: var(--sh-only-display, block);
  }
  .lg-hide {
    display: none;
  }
}
.icon-plus:before {
  content: "\e145";
}
.icon-flag:before {
  content: "\e153";
}
.icon-attach:before {
  content: "\e226";
}
.icon-arrow-back:before {
  content: "\e5c4";
}
.icon-arrow-forward:before {
  content: "\e5c8";
}
.icon-tick:before {
  content: "\e5ca";
}
.icon-x:before {
  content: "\e5cd";
}
.icon-wrench:before {
  content: "\e869";
}
.icon-exit:before {
  content: "\e879";
}
.icon-info:before {
  content: "\e88e";
}
.icon-external:before {
  content: "\e89e";
}
.icon-pencil:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-up:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e906";
}
.icon-marker:before {
  content: "\e907";
}
.icon-dots-v:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-exclamation:before {
  content: "\e90c";
}
.icon-smile:before {
  content: "\e90d";
}
.icon-inbox:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-email:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-question:before {
  content: "\e915";
}
.test {
  color: red;
}
