import { NgModule } from '@angular/core';
import { SharedModule } from '../core/shared.module';
import { Routes, RouterModule } from '@angular/router';
import * as CoreComponents from '../core/components';

const routes: Routes = [
   // **gulproute_first**
];

@NgModule({
    imports: [
        SharedModule,
        RouterModule.forChild(routes)
    ],
    declarations: [
         // **gulpcomponent_first**
    ]
})

export class MajorRoutingModule { }
